* {
  margin:0; padding:0;
}

/* ---------------INDEX PAGE--------------------- */
.titlepage-image {
  background-image: url("https://img.fonwall.ru/o/46/most_lavochki_skameyki_perila_zabor_61.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(2px);
   /* Full height */
  height: 100%;
}

.titlepage-header{
  /*background-color: rgba(0,0,0, 0.4);  Black w/opacity/see-through */
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.titlepage-nav ul {
  list-style-type: none;
  top: 0;
  margin: 0;
  position: absolute;
  transform: translate(250%, 50%);
}

.titlepage-nav li {
  font-family: 'Raleway', sans-serif;
  display: inline;
  float: right;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.titlepage-nav li a {
  display: block;
  color: lightgrey;
  text-align: center;
  padding: 15px 15px;
}

.titlepage-nav li a:hover {
  color: black;
}

/* ------------------------------------------ */

/* ----------- EXPERIENCE PAGE -------------- */

p, h3, h2, .skl_container li {
  font-family: 'Raleway', sans-serif;
  color: black;
  padding: 12px;
  background-color: white;
}


.exp_container h3, .exp_container p, .skl_container li {
  font-size: 14px;
}

h3, .skl_container li {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.exp_container p {
  opacity: 0.7;
}

.col-sm-4, .col-sm-8 {
  text-align: left;
}

.col-sm-4 {
    position: relative;
    left: 30px;
}

.skl_container ul {
  position: relative;
  top: 20px;
}

.skl_container {
  margin-bottom: 40px;
}

/* HOME PAGE */
body {
  overflow-x: hidden;
}

body, html {
    height: 100%;
    margin: 0;
}
/*background-image: url("http://images6.fanpop.com/image/photos/34500000/San-Francisco-at-Night-san-francisco-34546719-2880-1800.jpg");*/





.description {
  color: black;
  opacity: 0.7;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}


/* SOCIAL MEDIA BUTTON */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  position: relative;
  left: 150px;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook, .fa-linkedin, .fa-instagram {
  background: lightgrey;
  color: white;
}

/* FORM */
form {
  width: 600px;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid white;
  background-color: lightblue;
}

input, textarea {
  background-color: lightblue;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  padding: 12px;
  width: 60%;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid white;
  border-radius: 4px;
}

button {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
