* {
  margin:0; padding:0;
}

body {
  overflow-x: hidden;
}

body, html {
    height: 100%;
    margin: 0;
}

/* ---------------INDEX PAGE--------------------- */
.titlepage-image {
  background-image: url("https://img.fonwall.ru/o/46/most_lavochki_skameyki_perila_zabor_61.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(2px);
   /* Full height */
  height: 100%;
}

.titlepage-header{
  /*background-color: rgba(0,0,0, 0.4);  Black w/opacity/see-through */
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.titlepage-nav ul {
  list-style-type: none;
  top: 0;
  margin: 0;
  position: absolute;
  transform: translate(220%, 50%);
}

.titlepage-nav li {
  font-family: 'Raleway', sans-serif;
  display: inline;
  float: right;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.titlepage-nav li a {
  display: block;
  color: lightgrey;
  text-align: center;
  padding: 15px 15px;
}

.titlepage-nav li a:hover {
  color: black;
}

/* ------------------------------------------ */

/* ----------- EXPERIENCE PAGE -------------- */

.exppage-nav ul {
  list-style-type: none;
  top: 0;
  margin: 0;
}

.exppage-nav li {
  position: relative;
  top: 40px;
  right: 38px;
  font-family: 'Raleway', sans-serif;
  display: inline;
  float: right;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.exppage-nav li a {
  color: lightgrey;
  text-align: center;
  padding: 15px 17px;
}

.header-container {
  font-family: 'Raleway', sans-serif;
  background-color:
  text-align: center;
  position: relative;
  top: 100px;
  margin-bottom: 100px;
  padding: 50px;
}

p, h3, h2, .skills-container li {
  /* set font for everything on exp page */
  font-family: 'Raleway', sans-serif;
  color: black;
  padding: 12px;
  background-color: white;
}

p, h3, .skills-container li {
  /* everything but h2 is changed to smaller font */
  font-size: 14px;
}

h3, .skills-container li, .header-container {
  /* uppercase and fancy font for skills list and edu heading */
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  /* edu description is set w opacity */
  opacity: 0.7;
}

.col-sm-4, .col-sm-8 {
  text-align: left;
}

.col-sm-4 {
    position: relative;
    left: 50px;
}

.skills-container ul {
  /* so top of skills list aligns with header for skills */
  position: relative;
  top: 30px;
  left: 20px;
}

.skills-container {
  /* gives spacing betw skills and education */
  margin-bottom: 40px;
}

/* ------------------------------------------ */

/* ------------ ABOUT PAGE ---------------- */

.description {
  color: black;
  opacity: 0.7;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}




/* ------------ CONTACT ------------------ */
form {
  width: 600px;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid white;
  background-color: lightblue;
}

input, textarea {
  background-color: lightblue;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  padding: 12px;
  width: 60%;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid white;
  border-radius: 4px;
}

button {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
