/* NAVIGATION BAR */
* {
  margin:0; padding:0;
}

header ul {
  list-style-type: none;
  position: sticky;
  top: 0;
}

header li {
  display: inline;
  float: right;
}

header li a {
  display: block;
  color: lightgrey;
  text-align: center;
  padding: 15px 15px;
}

header li a:hover {
  color: black;
}


body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}



/* EXPERIENCE PAGE*/
.exp_container {
  color: white;
  background-color: tan;
  padding: 30px;
  border: 10px solid white;
  font-family: 'Asap', sans-serif;

}

.skl_container {
  color: white;
  padding: 30px;
  background-color: lightgrey;
  border: 10px solid white;
  font-family: 'Asap', sans-serif;

}

.exp_container ul, .skl_container ul {
  list-style-type: none;
}

.exp_container li, .skl_container li {
  padding: 15px;
}

/* HOME PAGE */
.jumbotron h1 {
  font-size: 100px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  color: pink;
  position: relative;
  left: 70px;
  border: 1px solid black;
  box-sizing: border-box;
}

.jumbotron h2{
  font-size: 100px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  color: pink;
  position: relative;
  left: 150px;
  opacity: 0.3;
  box-sizing: border-box;
}


.description {
  color: white;
  background-color: lightgrey;
  font-family: 'Asap', sans-serif;
  width: 300px;
  padding: 25px;
  border: 5px solid white;
}


/* SOCIAL MEDIA BUTTON */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  position: relative;
  left: 150px;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook, .fa-linkedin, .fa-instagram {
  background: lightgrey;
  color: white;
}

/* FORM */
form {
  width: 600px;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid white;
  background-color: lightblue;
}

input, textarea {
  background-color: lightblue;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  padding: 12px;
  width: 60%;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid white;
  border-radius: 4px;
}

button {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
