body {
  background-color: #ECECE0;
}

.description-intro {
  position: relative;
  text-align: center;
  padding-top: 100px;
  margin: 50px 0;
}

h2 {
  font-size: 50px;
  font-weight: bold;
}

.description-text {
  font-size: 16px;
  color: black;
  opacity: 0.8;
  border: 1px solid black;
  margin-bottom: 50px;
  padding: 50px 0;
}

.profile-text {
  border: 1px solid black;
  padding-right: 100px;
  padding-left: 50px;
}
