.exppage-header{
  background-image: url("https://cdn-images-1.medium.com/max/2000/1*Eh3ftzvlQzIPk-nhaPedTQ.jpeg");
  padding: 20px 50px 400px 50px;
}

#expname {
  text-align: center;
  color: white;
  display: block;
  font-family: 'Raleway', sans-serif;
}



.leftheader {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: left;
  opacity: 0.7;
}

.details {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.skills, .projects, .education {
	padding: 20px 40px 30px 0;
  border: 1px solid black;
  margin: 25px;
  position: relative;
  left: 250px;
}

.skills ul {
  position: relative;
  left: 20px;
  top: 20px;
}

.skills li, .subtitles {
  text-transform: uppercase;
  letter-spacing: 2px;
	font-weight: bold;
  font-size: 14px;
}

p {
  opacity: 0.7;
}

footer {
  background-color: #333;
  height: 200px;
  margin: 0 auto;
  position: relative;

}

.social-container {
  width: 0%;
  max-width: 1024px;
  clear: both;
  margin: 0 auto;
  text-align: center;
}

.social-row {
  margin: 30px 0 0 0;
}

.social-row li {
  display: inline-block;
  font-size: 30px;
  padding: 30px 30px;
  list-style-type: none;
}

.social-row li a {
  color: white;
}

.social-row li a:hover {
  color: black;
  transition: .5s;
}

.footnotes {
  padding: 10px 0 0 0;
  font-size: 13px;
  color: white;
}
