/* ------ RESIZING/GENERAL THINGS --------- */
* {
  margin:0; padding:0;
  box-sizing: border-box
}

body {
  font-family: 'Raleway', sans-serif;
}

body, html {
    margin: 0;
    height: 100%;
}

/* ----- HOME PAGE BACKGROUND ---------- */
header {
  padding: 20px 50px 20px 50px;
  margin-bottom: 50px;
  background-color: transparent;
  position: fixed;
  width: 100%;
}

header:hover {
  background-color: black;
  transition: 0.4s;
}

header:not(:hover) {
  transition: 0.4s;
}

#titlepage-body {
  background-image: url("https://img.fonwall.ru/o/46/most_lavochki_skameyki_perila_zabor_61.jpg");
  background-position: center;
}

.contactname {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: relative;
  top: 100px;
  color: white;
}

.home-container {
  padding: 180px 0;
  margin-bottom: 200px;
}

/* ----------- NAV BAR ------------ */
header h1 {
  margin: 0;
  display: inline;
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline;
  float: right;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 15px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul li a, #navhome a {
  color: white;
}

nav li a:hover, #navhome a:hover {
  color: pink;
  transition: .3s;
}

/* --------- SOCIAL MEDIA + FOOTER --------- */
footer {
  background-color: #333;
  height: 200px;
  margin: 0 auto;
  position: static;
}

.social-row {
  margin: 30px 0 0 0;
}

.social-row li {
  display: inline-block;
  font-size: 30px;
  padding: 20px 30px;
  list-style-type: none;
}

.social-row li a {
  color: white;
}

.social-row li a:hover {
  color: black;
  transition: .5s;
}

.footnotes {
  padding: 10px 0 0 0;
  font-size: 13px;
  color: lightgrey;
}
