* {
  margin:0; padding:0;
  box-sizing: border-box
}

body {
  overflow-x: hidden;
}

body, html {
    height: 100%;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

.titlepage-header {
  padding: 20px 50px 400px 50px;
  position: relative;
  height: 100%;
}

.titlepage-header > *:not(.blurred) {
  z-index: 5;
  position: relative;
}

.blurred {
  background-image: url("https://img.fonwall.ru/o/46/most_lavochki_skameyki_perila_zabor_61.jpg");
  position: absolute;
  background-position: center;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  -webkit-filter: blur(2px);
}

header h1 {
  margin: 0;
  display: inline;
  font-family: 'Raleway', sans-serif;
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline;
  float: right;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 15px;
  color: white;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul li a {
  color: white;
}

nav li a:hover, #navhome a:hover {
  color: pink;
  transition: .3s;
}

#titlescreen, #titlescreen2 {
	text-align: center;
  font-weight: bold;
  color: white;
  display: block;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#titlescreen2 {
  top: 55%;
}

#navhome a {
  color: white;
  font-family: 'Raleway', sans-serif;
  transition: .3s;
}


/*   font-family: 'Poppins', sans-serif;
*/
